
centeredPanel{
    width:400px;
    height:450px;
    position:absolute;
    left:30%;
    top:30%;
    border-radius: 4px;
    margin-left:-25px;
    margin-top:-25px;
    background-color:white;
    border-style: solid;
}

centered1Panel{
    width:300px;
    max-height:150px;
    left:10%;
    top:10%;
    padding:3%;
    background-color:white;
    border-style: initial;
    border:2px;
}
.button6{
    width: 110px;
    height: 110px;
}
button6.square1{
    width: 100px;
    height: 100px;
    border: 3px;
    border-style: solid;
    border-color: black;
    padding: 5px;
}

input[type=text] {
    width: 1000px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    color: black;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

html {
    position: relative;
    min-height: 100%;
}

body, html{
    font-family: 'Raleway', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#myBtn:hover {
    background-color: #555;
}

#hover-content {
    display:none;
    cursor: pointer;
    color:#d6d6c2;
    font-size:23px;
}

#parent:hover #hover-content {
    display:block;
    cursor: pointer;
    color: #3C96A7;  
    transition: width 2s;
}






/**********************************************/
/*******************TOOLIP*********************/
/*********************************************/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    color:white;
}
/*******************************************/


/*****************************************/
/**************BUTTON 1o LAYER************/
/*****************************************/
.button {
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: auto;
}
.button4 {
    background-color: #476b6b;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid #5c8a8a;
}

.button4:hover{
    background-color: #75a3a3;
    color: white;
}

.button5 {
    background-color: #476b6b ;
    color: white;
    padding: 14px 32px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px #5c8a8a;
}

.button5:hover{
    background-color: #75a3a3 ;
    color: white;
}


/*****************************************/
/**************HOW IT WORKS BUTTON*******************/
/*****************************************/
.button1 {
    border-radius: 4px;
    background-color: #5c8a8a;
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 190px;
    transition: all 0.7s;
    cursor: pointer;
    margin: 5px;
}

.button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}

.button1:hover span {
    padding-right: 25px;
}

.button1:hover span:after {
    opacity: 1;
    color:white;
    right: 0;
}

.button2 {
    border-radius: 4px;
    background-color: #5c8a8a;
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 7px;
    width: 190px;
    transition: all 0.7s;
    cursor: pointer;
    margin: 5px;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}


.centerpanel{
    width:auto;
    height:auto;
    align-content: center;

}
/*****************************************/
/**************END BUTTON*******************/
/*****************************************/

/*****************************************/
/**************SEARCH BAR 1o LAYER*******************/
/*****************************************/
input[type=text] {
    color:black;
    min-width: 60%;
    max-width:80%;
    width: 600px;
    border-radius: 4px;
    font-size: 16px;
    align-content: center;
    background-color: white;
    background-image: url(../img/search.png);
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
/*****************************************/
/**************END SEARCH BAR*******************/
/*****************************************/

/*****************************************/
/**************CAROUSEL*******************/
/*****************************************/
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


.item:nth-child(1) {
    background: url(../img/coff.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.item:nth-child(2) {
    background: url(../img/bars.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(3) {
    background: url(../img/meat.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}
.title {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    text-shadow: 2px 2px #000;
    color: #FFF;
}
/*****************************************/
/**************END CAROUSEL*******************/
/*****************************************/



/*****************************************/
/**************DROPDOWN MENU*******************/
/*****************************************/
.dropbtn1 {
    color: black;
    background-color: #5c8a8a;
    padding:5px;
    width:auto;
    font-size: 16px;
    background-repeat: no-repeat;
    background-position-x:90px;
    background-position-y: 5px;
    background-image:url(../img/loc_1.png);
    border: none; 
    border-radius: 4px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}

.dropbtn {
    color: black;
    background-color: #5c8a8a;
    padding:16px;
    width:auto;
    font-size: 16px;
    background-repeat: no-repeat;
    background-position-x:125px;
    background-position-y: 20px;
    background-image:url(../img/loc_1.png);
    border: none;
    border-radius: 4px;
    text-align:left;
    transition: all 0.5s;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #C5C5C5;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 18px;
    width:130px;
    transition: all 0.5s;
    margin: 5px;
}

.dropdown-content a {
    color: #a6a6a6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #C5C5C5;
                   color: #333333;}




.dropdm {
    color: black;
    background-color: white;
    padding: 14px;
    max-width:140px;
    font-size: 16px;
    background-repeat: no-repeat;
    background-position-x: 80px;
    background-position-y: 14px;
    background-image:url(../img/people.png);
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.dropdm:hover, .dropdm:focus {
    background-color: white;
}

.dropdmenu {
    position: relative;
    display: inline-block;

}

.dropdowndm {
    display: none;
    position: absolute;
    background-color: #a6a6a6;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 18px;
    width:130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.dropdowndm a {
    color: #a6a6a6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdmenu a:hover {background-color: #c2c2a3;
                    color: #333333;}

/*****************************************/
/**************END DROPDOWN MENU**********/
/*****************************************/



/*****************************************/
/**************BASIC VARIABLES************/
/*****************************************/
@media (min-width: 1200px){
    .container {
        width: 1200px;
    }
    .container1 {
        width: 1400px;
    }
}

.form{
    font-size:18px;
    color:rgb(47, 147, 123);
    width:1100px;
}

.form{
    font-size:22px;
    color:rgb(47, 147, 123);
}

h1{
    text-transform: uppercase;
}

h2{
    line-height: 20px;
    padding-bottom: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    margin:  0;
    color:white;
}

h4 {
    margin-bottom: 233px;
    font-size: 22px;
    font-weight: 700;
    color: rgb(47, 147, 123);
}

h5{
    margin-bottom: 233px;
    font-size: 18px;
    font-weight: 700;
}

h6{
    font-size: 22px;
    font-weight: 700;
    color:black;
}
h7{
    font-size:16px;
    line-height: 20px;
    margin:  0;
}

p{
    font-size: 16px;
    text-decoration:none;
}
p:hover{
    color:white;
}

a { 
    text-decoration:none;
    color: #ff3300;
    transition: all 0.8;
}
a:hover{
    color:red;
}


/*****************************************/
/**************END BASIC******************/
/*****************************************/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }



/*****************************************/
/**************1o LAYER BACKGROUND*******************/
/*****************************************/
#tf-home{
    background: url(../img/back_1.png);
    background-size:77%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #cfcfcf;
}

#tf-home .overlay{
    background: url(../img/background1_4.png);
    height: auto;
    background-attachment: fixed;
}

.content{
    padding: 15% 0 18% 0;
    text-align: center;
}
/*****************************************/
/**************END BACKGROUND*******************/
/*****************************************/


/*****************************************/
/**************1Î¿ LAYER MENU*******************/
/*****************************************/
#tf-menu {
    margin-bottom: 0;
    background: transparent;
    border: 0;
    color: #222222 !important;
    padding: 2% 0;
    transition: all 0.5s;
    max-height:140px;
}
#sticky {
    padding: 0.5ex;
    background-color: #333;
    color: #222222;
    font-size: 2em;
    border-radius: 0.5ex;
}
#tf-menu.stick {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    background: #222222;
    padding: 1% 0;
}
#tf-menu.nav-default .navbar-nav > li > a {
    color: #C5C5C5;
    text-transform: uppercase;
    font-size:28px;
    font-weight: 600;
    letter-spacing: 1px;
}

#tf-menu.navbar-default .navbar-nav > li > a:hover, 
#tf-menu.navbar-default .navbar-nav > li > a:focus {
    color: #00ace6;
    background-color: transparent;
}
/*****************************************/
/**************END 1o LAYER MENU*******************/
/*****************************************/


.logo {
    font-family: 'Century Gothic', cursive;
}


/*****************************************/
/**************2o LAYER SHOPS*******************/
/*****************************************/
#tf-service{
    padding: 2% 0; 
}

#tf-service > li  {
    color: black;
    background-color: transparent;
}

.media-left.media-middle i {
    padding: 20px 30px 20px 0;
    font-size: 30px;
    color: rgb(47, 147, 123);

}

.media-body h4 {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(47, 147, 123);
}

#tf-portfolio{
    background: #f1f1f1;
    padding: 5%  0 8% 0;
    text-align: center;
}

.section-title hr{
    border-color: rgb(47, 147, 123);
    width: 60px;
}

.section-title h2{ font-weight: 700;}
button.btn,
a.btn {
    margin: 15px 5px;
    transition: all 0.5s;
}
button.btn.btn-primary.my-btn,
a.btn.btn-primary.my-btn {
    background: #2F937B;
    border-color: transparent;
    border-radius: 0px;
    border-width: 2px;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
}
button.btn.btn-primary.my-btn:hover,
a.btn.btn-primary.my-btn:hover{
    background: #FFFFFF;
    color: #2F937B;
    border-color: transparent;
}
button.btn.btn-primary.my-btn.dark:hover,
a.btn.btn-primary.my-btn.dark:hover{
    background: #222222;
    color: #ffffff;
    border-color: transparent;
}
a.btn.btn-primary.my-btn2 {
    background: rgba(47, 147, 123, 0);
    border-color: #FFFFFF;
    border-radius: 0px;
    border-width: 2px;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #FFFFFF;
}

a.btn.btn-primary.my-btn2:hover{
    background: #2F937B;
    color: #ffffff;
    border-color: transparent;
}

ul.cat.list-inline li a {
    border: 1px solid #2F937B;
    padding: 5px 15px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #2F937B;
    transition: all 0.5s;
}

ul.cat.list-inline li a:hover{
    background: #2F937B;
    color: #ffffff;
}

.space{ padding: 20px}
.toppadding{ padding-top: 30px}
.nopadding{ padding:  0;}




/*****************************************/
/**************3o LAYER APP*******************/
/*****************************************/
#tf-about{
    background: url(../img/aa.png);
    background-size: 23%;
    background-position: 20% 50%; 
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color:#c2c2a3;
    color: #222222;
}

#tf-about .overlay{
    height: auto;
    background-attachment: fixed;
    padding: 10% 0;
}

#tf-why-me{
    /*background: url(../img/meat.jpg);*/
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    color: white;
}

#tf-why-me .overlay{
    height: auto;
    background-attachment: fixed;
    padding: 5% 0;
}
ul.why-me li{
    margin: 10px 0;
}
#tf-contact{
    background: url(../img/08.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    padding: 5% 0;
    text-align: center;
}

form#contact {
    padding: 5%;
    background: #f1f1f1;
    outline: 6px solid rgba(34, 34, 34, 0.08);
}

#tf-contact input.form-control {
    height: 40px;
}

#tf-contact .form-control{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 16px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #FFF;
    border-radius: 0;
    border-top: 2px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: all 0.8s;
}
#tf-contact .form-control:focus,
#tf-contact .form-control:hover{
    border-top: 2px solid #2F937B;
}
nav#tf-footer {
    background: #222222;
    padding: 3% 0 2% 0;
    color: #f1f1f1;
}
